<?php

// ******* TODO ******* Fill in the '????' and rename this file to 'DbConn.php'

namespace Secrets;

class DbConn
{
    public const PARAMS = [
        'driver'   => 'mysqli',
        'user'     => '????',
        'password' => '????',
        'dbname'   => '????',    
    ];
}
